* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    padding: 1px;
    text-align: center;
    color: white;
    background: #192841;
    font-size: 24px;
}

h1, h2 {
    margin: 40px;
    line-height: 15px;
}

h2 {
    font-size: 25px;
}

nav {
    overflow: hidden;
    background-color: lightgray;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 20px;
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: white;
    color: black;
}

main {
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 75px;
}

#about h3 {
    text-align: center;
}

#about p, img {
}

#about p {
    padding-top: 10px;
    padding-left: 250px;
}

#about img {
    height: auto;
    width: 200px;
    border: #192841 solid 5px;
    border-radius: 10px;
    float: left;
}

#projects h3 {
    margin-top: 75px;
    text-align: center;
}

.project1 {
    margin-top: 10px;
    border: #192841 solid;
    border-radius: 10px;
    background-image: url(/images/placeholder1.jpg);
    height: 350px;
    width: 750px;
    color: white;
    text-shadow: 2px 2px 8px #000000;
    text-align: center;
    float: right;
}

.project1:hover {
    box-shadow: inset 0 0 100px #000000;
}

.project1p {
    padding-top: 20px;
    padding-right: 765px;
}

#projects h4 {
    text-align: center;
}

.project2 {
    margin-top: 50px;
    border: #192841 solid;
    border-radius: 10px;
    background-image: url(/images/calculator.jpg);
    height: 350px;
    width: 350px;
    color: white;
    text-shadow: 2px 2px 8px #000000;
    text-align: center;
    float: left;
}

.project2p {
    padding-top: 60px;
    /* padding-right: 755px; */
    padding-left: 370px; 
}

.project2ul {
    padding-left: 400px;
    padding-top: 10px;
}

.project2:hover {
    box-shadow: inset 0 0 100px #000000;
}

/* #p2 {

} */

.project3 {
    margin-top: 60px;
    border: #192841 solid;
    border-radius: 10px;
    background-image: url(/images/forex.jpg);
    height: 350px;
    width: 350px;
    color: white;
    text-shadow: 2px 2px 8px #000000;
    text-align: center;
    float: right;
}

.project3p {
    padding-top: 70px;
    margin-right: 25px;
    /* margin-left: 370px; */
}

.project3ul {
    padding-left: 100px;
    padding-top: 10px;
}

.project3:hover {
    box-shadow: inset 0 0 100px #000000;
}

.contact h3 {
    margin-top: 80px;
    text-align: center;
}

.contact ul {
    margin-top: 60px;
    margin-left: 470px;
    width: 350px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    line-height: 3;
    background-color: lightgray;
    border: #192841 solid;
    border-radius: 10px;
}

.contact ul li {
    color: black;
    text-decoration: none;
}

.contact ul li:hover {
    background-color: white;
    color: black;
}

footer {
    padding: 1px;
    text-align: center;
    color: white;
    background: #192841;
    font-size: 24px;
}